<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <span class="navbar-brand">Visualize API</span>
  <button
    class="navbar-toggler"
    type="button"
    aria-controls="navbarContent"
    [attr.aria-expanded]="!collapsed"
    aria-label="Toggle navigation"
    (click)="collapsed = !collapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/']"
          routerLinkActive="router-link-active"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/commodities']"
          routerLinkActive="router-link-active"
          >Commodities</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/cryptocoins']"
          routerLinkActive="router-link-active"
          >Cryptocoins</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/indexes']"
          routerLinkActive="router-link-active"
          >Indexes</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          [routerLink]="['/flats']"
          routerLinkActive="router-link-active"
          >Flats</a
        >
      </li>
    </ul>
  </div>
</nav>
